In [1]:
# import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# import csv file
csv_file = 'Resources/TA_hotels_scraper.csv'
TA_hotels_df = pd.read_csv(csv_file, encoding='latin1')
TA_hotels_df.head()

,Hotel name,continent_name,city_name,country_name,Price,Rating,reviews count,info.1,info.2,info.3,info.4,info.5,info.6,info.7
0,"Shangri-La Hotel, Beijing",Asia,Beijing,China,156.666667,5.0,7603,Free Wifi,Free parking,Special offer,Visit hotel website,NaN,NaN,NaN
1,InterContinental Beijing Sanlitun,Asia,Beijing,China,NaN,5.0,1743,Free Wifi,Pool,NaN,NaN,Free cancellation,NaN,NaN
2,Holiday Inn Express Beijing Yizhuang,Asia,Beijing,China,68.000000,5.0,548,Free Wifi,Free parking,NaN,NaN,NaN,NaN,NaN
3,"Shangri-La China World Summit Wing, Beijing",Asia,Beijing,China,NaN,5.0,2318,Free Wifi,Pool,Special offer,Visit hotel website,NaN,NaN,NaN
4,Kerry Hotel Beijing,Asia,Beijing,China,NaN,5.0,5756,Free Wifi,Pool,Special offer,Visit hotel website,NaN,NaN,NaN

In [5]:
# transform
TA_hotels_df = TA_hotels_df.rename(columns={"continent_name": "Continent", "city_name": "City", "country_name": "Country", "Price": "Price (USD)"})
TA_hotels_df["Price (USD)"] = round(TA_hotels_df["Price (USD)"], 2)
TA_hotels_df.head()

,Hotel name,Continent,City,Country,Price (USD),Rating,reviews count,info.1,info.2,info.3,info.4,info.5,info.6,info.7
0,"Shangri-La Hotel, Beijing",Asia,Beijing,China,156.67,5.0,7603,Free Wifi,Free parking,Special offer,Visit hotel website,NaN,NaN,NaN
1,InterContinental Beijing Sanlitun,Asia,Beijing,China,NaN,5.0,1743,Free Wifi,Pool,NaN,NaN,Free cancellation,NaN,NaN
2,Holiday Inn Express Beijing Yizhuang,Asia,Beijing,China,68.00,5.0,548,Free Wifi,Free parking,NaN,NaN,NaN,NaN,NaN
3,"Shangri-La China World Summit Wing, Beijing",Asia,Beijing,China,NaN,5.0,2318,Free Wifi,Pool,Special offer,Visit hotel website,NaN,NaN,NaN
4,Kerry Hotel Beijing,Asia,Beijing,China,NaN,5.0,5756,Free Wifi,Pool,Special offer,Visit hotel website,NaN,NaN,NaN

In [6]:
# connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/TA_hotels_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
engine.table_names()

/var/folders/6j/g7z_h15n2xb6lf5plnw73lrm0000gn/T/ipykernel_47655/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['TA_hotels']

In [13]:
TA_hotels_df.to_sql(name='TA_hotels', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Hotel name" of relation "TA_hotels" does not exist
LINE 1: INSERT INTO "TA_hotels" ("Hotel name", "Continent", "City", ...
                                 ^

[SQL: INSERT INTO "TA_hotels" ("Hotel name", "Continent", "City", "Country", "Price (USD)", "Rating", "reviews count", "info.1", "info.2", "info.3", "info.4", "info.5", "info.6", "info.7") VALUES (%(Hotel name)s, %(Continent)s, %(City)s, %(Country)s, %(Price AUSDZ)s, %(Rating)s, %(reviews count)s, %(info.1)s, %(info.2)s, %(info.3)s, %(info.4)s, %(info.5)s, %(info.6)s, %(info.7)s)]
[parameters: ({'Hotel name': 'Shangri-La Hotel, Beijing', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': 156.67, 'Rating': 5.0, 'reviews count': 7603, 'info.1': 'Free Wifi ', 'info.2': ' Free parking ', 'info.3': ' Special offer', 'info.4': ' Visit hotel website ', 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'InterContinental Beijing Sanlitun', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': None, 'Rating': 5.0, 'reviews count': 1743, 'info.1': 'Free Wifi ', 'info.2': ' Pool ', 'info.3': None, 'info.4': None, 'info.5': 'Free cancellation', 'info.6': None, 'info.7': None}, {'Hotel name': 'Holiday Inn Express Beijing Yizhuang', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': 68.0, 'Rating': 5.0, 'reviews count': 548, 'info.1': 'Free Wifi ', 'info.2': ' Free parking ', 'info.3': None, 'info.4': None, 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'Shangri-La China World Summit Wing, Beijing', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': None, 'Rating': 5.0, 'reviews count': 2318, 'info.1': 'Free Wifi ', 'info.2': ' Pool ', 'info.3': ' Special offer', 'info.4': ' Visit hotel website ', 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'Kerry Hotel Beijing', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': None, 'Rating': 5.0, 'reviews count': 5756, 'info.1': 'Free Wifi ', 'info.2': ' Pool ', 'info.3': ' Special offer', 'info.4': ' Visit hotel website ', 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'The Bulgari Hotel Beijing', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': None, 'Rating': 5.0, 'reviews count': 1147, 'info.1': 'Free Wifi ', 'info.2': ' Free parking ', 'info.3': None, 'info.4': None, 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'Crowne Plaza Beijing Sun Palace', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': None, 'Rating': 4.5, 'reviews count': 820, 'info.1': 'Free Wifi ', 'info.2': ' Pool ', 'info.3': None, 'info.4': None, 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'Crowne Plaza Beijing Chaoyang U-Town', 'Continent': 'Asia', 'City': 'Beijing\xa0\xa0', 'Country': 'China\xa0\xa0', 'Price AUSDZ': None, 'Rating': 4.5, 'reviews count': 892, 'info.1': 'Free Wifi ', 'info.2': ' Pool ', 'info.3': None, 'info.4': None, 'info.5': None, 'info.6': None, 'info.7': None}  ... displaying 10 of 59707 total bound parameter sets ...  {'Hotel name': 'The Odd Frog', 'Continent': 'South Pacific', 'City': 'Bright\xa0\xa0', 'Country': 'Australia\xa0\xa0', 'Price AUSDZ': None, 'Rating': 4.0, 'reviews count': 97, 'info.1': 'Free parking ', 'info.2': None, 'info.3': None, 'info.4': None, 'info.5': None, 'info.6': None, 'info.7': None}, {'Hotel name': 'View Hill Holiday Units', 'Continent': 'South Pacific', 'City': 'Bright\xa0\xa0', 'Country': 'Australia\xa0\xa0', 'Price AUSDZ': None, 'Rating': 4.5, 'reviews count': 43, 'info.1': 'Free parking ', 'info.2': None, 'info.3': None, 'info.4': None, 'info.5': None, 'info.6': None, 'info.7': None})]
(Background on this error at: https://sqlalche.me/e/14/f405)